@import 'variables';
@import 'mixins';

body {
  color: $primary;
  background-color: $neutral;
}


a {
  color: $accent;
  text-decoration: none;
  background-color: $tertiary;
  @include rounded_corners(25px);
  padding: 5px;
  &:hover {
  }
  &:focus {
  }
  &:active {
  background-color: $accent;
  color: $neutral;
  }
}

nav {
  ul {
    li {
       a{ 

      }
    }
   }
}

